<p>Bonjour {{raison_sociale}},</p>
<p>Nous accusons réception de votre déclaration <strong>{{numero_declaration}}</strong> en date du {{date_reception}}.</p>
<p>Vous pouvez consulter le suivi depuis : <a href="{{lien}}">{{lien}}</a></p>
<p>Cordialement,<br>{{service}}</p>