<p>Bonjour {{raison_sociale}},</p>
<p>Une décision a été rendue sur le dossier contentieux <strong>{{numero_contentieux}}</strong> le {{date_decision}}.</p>
<p>Motif : {{motif_decision}}</p>
<p>Consulter le dossier : <a href="{{lien}}">{{lien}}</a></p>
<p>Cordialement,<br>{{service}}</p>