<p>Bonjour {{raison_sociale}},</p>
<p>La campagne TLPE {{campagne_annee}} est ouverte. Nous vous invitons à déposer votre déclaration avant le {{date_limite_declaration}}.</p>
<p>Accéder au portail : <a href="{{lien}}">{{lien}}</a></p>
<p>Identifiant TLPE : {{identifiant}}</p>
<p>{{service_label}}</p>
<p>Cordialement,<br>{{service}}</p>