<p>Bonjour {{raison_sociale}},</p>
<p>À défaut de déclaration TLPE {{annee}}, une mise en demeure est engagée à votre encontre.</p>
<p>Échéance de régularisation : {{date_echeance}}</p>
<p>Accéder au portail : <a href="{{lien}}">{{lien}}</a></p>
<p>Cordialement,<br>{{service}}</p>