<p>Bonjour {{raison_sociale}},</p>
<p>Nous vous rappelons que votre déclaration TLPE {{annee}} doit être transmise avant le {{date_limite_declaration}}.</p>
<p>Niveau de relance : {{niveau_relance}}</p>
<p>Accéder au portail : <a href="{{lien}}">{{lien}}</a></p>
<p>Cordialement,<br>{{service}}</p>