<p>Bonjour {{raison_sociale}},</p>
<p>Le titre <strong>{{numero_titre}}</strong> a été émis le {{date_emission}} pour un montant de {{montant}}.</p>
<p>Vous pouvez consulter le détail depuis : <a href="{{lien}}">{{lien}}</a></p>
<p>Cordialement,<br>{{service}}</p>